<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.appvoto">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppVoto">
        <activity
            android:name=".VideoPlayer"
            android:exported="false" />
        <activity
            android:name=".NaoVota"
            android:exported="false" />
        <activity
            android:name=".DeveVotar"
            android:exported="false" />
        <activity
            android:name=".PodeVotar"
            android:exported="false" />
        <activity
            android:name=".CadastroFinal2"
            android:exported="false" />
        <activity
            android:name=".CadastroFinal"
            android:exported="false" />
        <activity
            android:name=".CadastroAvancado"
            android:exported="false" />
        <activity
            android:name=".CadastroBasico"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>